//color settings
$blue: #4b698e;
$blue_second: #b5beca;
$blue_contrast: #5f6b7b;
$gray: #6f6f6f;
$gray_second: #b5beca;
$gray_contrast: #5f6b7b;
$bluegray: #5f6b7b;
$bluegray_second: #9fbee5; 
$bluegray_contrast: #4b5a6c;
$gold: #927a53;
$gold_second: #cfb48a;
$gold_contrast: #977235;
$sage: #777f69;
$sage_second: #cad7b2;
$sage_contrast: #6d7460;
$sand: #c4b49a;
$sand_second: #ddd7ce;
$sand_contrast: #494744;


// Background Settings

$txtblue: blue;
$txtgray: gray;
$txtbluegray: bluegray;
$txtgold: gold;
$txtsage: sage;
$txtsand: sand;

// Font Settings

$headerFontFamily: Verdana, Arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
$bodyFontFamily: Verdana, Arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
$heading-font: 'Parisienne', cursive;
$subheading-font: 'Elsie Swash Caps', cursive;
$subheading-font-two: 'Domine', serif;

// Text Direction Settings

$horzl: left;
$horzr: right;